@charset "utf-8";
@font-face {
    font-family: GOTHAM;
     src: url(../fonte/GOTHAM.TTF);
    font-family: Montserrat;
    src: url(../fonte/montserratbold.ttf);

 }

 #divnav{
    background-color: #1b1b1b;
}

nav{
    background-color: #1b1b1b;
}

#nav a{
    color: whitesmoke;
    font-size: 12px;
    font-family: Montserrat;
}



body {
    width: auto;
    background-color: #1b1b1b;
}


 /*Editando fonte*/


 p {
     font-family: Montserrat;
 }

 p#information{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     text-align: justify;
     text-indent: 25px;
     margin-bottom: 40px;
 }

 p#table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-indent: 25px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
 }

 h1{
     font-family: Montserrat;
     color: #000000;
     
 }

 h2{font-family: Montserrat;
    color: #ffd21e;
    font-size: 20px;
    
}

h2#titleprin{font-family: Montserrat;
    color:whitesmoke;
    
}

 h1#table{
     text-align: center ;
 }

 h3{
     font-family: GOTHAM;
     font-size: 16px;
     color: black;
 }

 h1#cont1{
     color: #e7a900;
     font-size: 36px;
     margin-top: 100px;
     text-align: center;
 }

 h1#cont1-1{
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: 150px;
    text-align: center;
}

p#cont1-1{
    color:white;
    text-indent: 25px;
    text-align: justify;
}

 p#cont1{
     text-align: justify;
     text-indent: 25px;
 }

 h1#aprtitulo1{
     margin-top: 50px;
 }

 h2#textapr{
    margin-top: 100px;
 }

 h2#corpo2{
     color: white;
 }

 p#corpo2{
     padding-top: 50px;
     color: white;
     text-align: justify;
     text-indent: 25px;
 }

a#imglogo img{
    margin-left: 50px;
}

/*Editando Menu*/


 
a#link{
    color: rgb(0, 0, 0);
}

a#linkexterno{
    color: blanchedalmond;
}

div#data{
    color: white;
}

a#link3{
    color: black;
}
/*Editando capa*/

div#capa{
    background-color: #1b1b1b ;
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 100px;
    background-size: cover;
}



/* Editando imagens */

img#logo{
    width: 60px;
    height: 40px;
    margin-bottom: -50px;
    margin-left: 120px;
}

img#newsletterimg{
    width: 300px;
    height: 150px;
}

div#newsletter{
    text-align: center;
    margin-top: 100px;

    
}

img#dev{
    width: 650px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 40px;
}

img#img2{
    margin-top: 100px;
}

img#cont1{
    margin-top: 50px;
}

img#meta{
    margin-left: 10px;
}

/* Editando Botão */

button#capa{
    margin-left: 50px;
    margin-top: 20px;
    background-color:#e7a900; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: GOTHAM;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    /*transition-delay: 0.1s;*/
    padding-top: 5px;
    padding-bottom: 5px;
    
}



button#capa.color:hover{
    background:#000000;
}

button#corpo2{
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: GOTHAM;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    
}

button#corpo2.color:hover{
    background:#dbdada;
    color: white;
}

a#link3{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


a#link2{
    color: white;
    text-decoration: none;
}

p#icon{
    text-align: justify;
}


/* Editando Cont */

div#corpo2eng{
    background-color: #1b1b1b;
    color: whitesmoke;
    font-family: Montserrat;
    text-align: center;
    padding-bottom: 50px;
}

div #icon{
    margin-bottom: 40px;
}

div#meta{
    text-align: center;
}

div#aprcorpo{
    padding-top: 70px;
    padding-bottom: 30px;
    
}

div#aprcorpo2{
    padding-top: 150px;
    padding-bottom: 100px;
}

div#aprcorpo3{
    padding-top: 80px;
    padding-bottom: 100px;
}

div#aprcorpo4{
    margin-top: 100px;
    padding-bottom: 50px;
    
}

div#aprcorpo h1{
    color: #0275d8;
}

div#cont1{
   background-color: rgba(0,0,0,0.7);
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

div#container1{
    width: 100%;
    height: 300px;
} 

div#newsletterlb{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

}

div#corpo2{
    background-color:#2d2d2d;
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

div#corpo2 h1 strong{
    color:#e7a900;
    text-decoration: underline;
}

div#corpo2 h1{
    color: white;
}

div#subcorpo2 {
    padding-top:50px
}

div#subcorpo2 h3 {
    padding-top:20px;
    color: white;
}

div#corpo1{
    background-color: whitesmoke;
    padding-bottom: 100px;
    padding-top: 100px;
    
}

div#corpo3{
    padding-bottom: 50px;
    padding-top: 50px;
    
}

div#corpo3sobre{
    padding-bottom: 50px;
    padding-top: 50px;
    color: white;
    background-color: #2d2d2d;
    
}

div#corpo3sobre h1 strong{
    color: #e7a900;
    text-decoration: underline;
}

div#corpo3sobre h1 {
    color: white;
}

div#corpo3sobre h3{
 color: white;
}


div#banner{
    background-color: #e7a900;
    padding-top: 25px;
    padding-bottom: 15px;
}

div#corpo5 h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    padding-top: 150px;
}

div#corpo5 strong{
    color:#e7a900;
}

div#corpo5 h3{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

div#corpo5{
    background-color: #2d2d2d;
    margin-top: -105px;
    padding-bottom: 100px;
}

div#corpo6 h1{
    margin-top: 50px;
    margin-bottom: 50px
}

div#corpo6 {
    margin-bottom: 100px;
    margin-top: 100px
}

div#corpo7 h1{
    text-align: center;
    color: white;
    
}

div#corpo7 strong{
    color: #e7a900

}

div#corpo7 {
    padding-top: 0px;
    padding-bottom: 0px;
    
}



div#corpo8 label{
    color: rgb(0, 0, 0);
}

div#corpo8 h1{
    text-align: center;
    
}

div#corpo8 strong{
    color: #e7a900

}

div#corpo8 {
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}



div#corpo8 label{
    color: rgb(0, 0, 0);
}

section#index.container{
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 15px;
    /*width: 700px;*/
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.342) 3px 3px 10px ;
    margin-bottom: 20px;
    color: #e7a900;
}


/*section#trabalhe{
    background:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    /*width: 700px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.342) 3px 3px 10px ;
    margin-bottom: 20px;
}*/

div#comp {
    margin-top: 50px;
    margin-bottom: -25px;
}

/*Editando newsletter*/

h1#newsletter{
    margin-top: 30px
}

div#newsletter img{
    margin-top: 50px;
}

div#corpo9{
    background-image: url(../imagens/equipe.png);
    height: 800px;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
}

div#corpo10 {
    background-color: #2d2d2d;
    height: auto;
    margin-top: 50px;
}

div#corpo11 {
    background-color: #2d2d2d;
    height: auto;
    margin-top: -80px;
}

div#duvida {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}

div#duvida h1{
    color: white;
}


div#teste{
    padding-top: 100px;
    padding-bottom: 50px;
}

div#teste h2{
    color:#e7a900;
}

body#teste{
    background-color: #2d2d2d;
    color: white;
}
body#teste h1{
    color: white;
    margin-top: 50px;
    text-align: center;
}
body#teste h1 strong{
    color: #e7a900
}
body#teste p{
    color: white;
    margin-top: 50px;
    text-align: center;
}
body#teste h3{
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
}

div#form{
    padding-left: 40px;
}
div#form button{
    margin-top: 20px;
}

div#história{
    text-align: center;
}

div#história h1{
    padding-top: 100px;
}

/*Editando formulários*/

form#formtrabalhe{
    margin-top: 50px;
}

/* Editando Footer*/

footer{
    background-color: #292b2c;
    color: white;
    margin-top: -10px;
    margin-bottom: -30px;
    padding: 20px;
    width: 100%;
    display: block;
    font-family: GOTHAM;
}

footer p{
    margin-left: 80px;
}

footer#newsletter{
    margin-top: 160px;
}
